<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894905124965-sm6mlj3liolqvilsbk6q4ob2urjf4m52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894905124965-sm6mlj3liolqvilsbk6q4ob2urjf4m52</string>
	<key>API_KEY</key>
	<string>AIzaSyBrdz4SzpPBl118grN1fHBeNNodxRLiZqc</string>
	<key>GCM_SENDER_ID</key>
	<string>894905124965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anurag.FurnitureStore</string>
	<key>PROJECT_ID</key>
	<string>arch-bd458</string>
	<key>STORAGE_BUCKET</key>
	<string>arch-bd458.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894905124965:ios:f53c8bd59d615a4bf79e8c</string>
</dict>
</plist>